@tailwind base;
@tailwind components;
@tailwind utilities;

/*css*/
.custom-background {
 background-color: #D9AFD9;
background-image: linear-gradient(214deg, #D9AFD9 3%, #ffffff 44%, #ffffff 54%, #97D9E1 100%);

}
.custom-background1 {
	background-color: #D9AFD9;
background-image: linear-gradient(211deg, #D9AFD9 2%, #ffffff 20%, #ffffff 80%, #97D9E1 99%);

}